<h1>About JobQuest!</h1>
<h2>Your Journey to Job Success Starts Here</h2>

<p>Are you tired of feeling overwhelmed while searching for your dream job? Look
  no further! JobQuest is here to make your job application process easier, more
  organized, and simply enjoyable.</p>

<p>At JobQuest, we understand the challenges job seekers face. That's why we've
  built a platform that assists you in keeping track of your job applications
  effortlessly.</p>

<p>Imagine having access to a vast selection of job opportunities right at your
  fingertips. With JobQuest, you can explore job listings from various sources,
  ensuring you never miss out on a potential opportunity.</p>

<p>But that's not all! With our platform, you can now create and send customized
  resumes to different companies directly from our website. No more struggling
  to tailor your CV for each application. We simplify the process, saving you
  time and effort.</p>

<p>We understand the importance of staying organized throughout your job search.
  That's why JobQuest provides you with a user-friendly calendar on your profile
  page. It's like your personal assistant, reminding you of application
  deadlines and interviews. Stay on top of your game with ease.</p>

<p>Imagine the relief of instantly knowing which job a phone call is about,
  thanks to our intuitive profile page. Our calendar feature lets you see at a
  glance which jobs you've applied to, ensuring you never miss an opportunity or
  double-book an interview.</p>

<p>Join us on this exciting journey to simplify your job search experience. With
  JobQuest, you'll have everything you need to navigate the job market
  confidently and successfully. Let's make job hunting an enjoyable and
  rewarding adventure!</p>

  <h2>JobQuest was created by the following Ironhackers:</h2>
<ul>
  <li>Danilo</li>
  <li>Hassan</li>
  <li>Joseph</li>
  <li>Marcela</li>
</ul>