{{!-- comment here --}}
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link rel="stylesheet" href="/stylesheets/edit-profile.css" />
  </head>
  <body>

   <div class="container">
   <div class="form-container">
    <h1>Update your personal information</h1>
    <form id="edit-form">
      <div class="profile-pic-container">
         
          <div class="profile-pic-preview-container">
              <img id="profile-pic-preview" src="" alt="img" />
          </div>
           <label for="profile-pic-upload" class="upload-btn">
              Upload Picture
              <input type="file" name="profilepic" accept="image/*" id="profile-pic-upload" />
          </label>

      </div>

      <label>
        <input type="text" name="username" placeholder="Username" class="input-field" />
      </label>

      <label>

        <input type="text" name="firstName" placeholder="First Name" class="input-field" />
      </label>

      <label>
        <input type="text" name="lastName" placeholder="Last Name" class="input-field" />
      </label>

      <email>
        <input type="text" name="email" placeholder="email" class="input-field" />
      </email>

      <label>
        <input type="text" name="residency" placeholder="Current Residency" class="input-field" />
      </label>

      <label>
        Upload files
        <input type="file" name="cvs" multiple class="input-field" />
      </label>
      <button type="submit" class="submit-btn">Save Changes</button>

      {{! error message will be added here }}
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>