<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="stylesheets/layout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

</head>
<body>
{{!----------------- START OF INDEX PAGE ----------------}}

    <div class="container">
    
    <div class="content1" style="background-image: url('../images/backgroundImage.jpg');">
  
    </div>

      <div class="login-container">

      <div id="form">

        <h2>Sign in to your account</h2>

          <form action="/profile-page" method="POST">

            <form action="/profile-page" method="POST">
                <div class="input-row">
                  <label class="input-icon">
                    <i class="fas fa-user"></i>
                    <input type="email" name="email" placeholder="Email Address" />
                  </label>
                </div>
                <div class="input-row">
                  <label class="input-icon">
                    <i class="fas fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" />
                  </label>
                </div>
              
              <button type="submit" class="button {{#if errorMessage}}error{{/if}}">Login</button>
              {{#if errorMessage}}
                <p class="error">{{errorMessage}}</p>
              {{/if}}
              <hr class="divider" />
            
                <p>
                      <span class="accountText">Don't have an account?<a href="/signup" class="buttonCreateAccount">Create now</a></span>
                </p>
            </form>
        </div>
    </div>
</div>
</script>
<script src="script.js"></script>
</body>
</html>
