<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="stylesheets/layout.css" />
  </head>
  <body>

    <div class="container">

        <div class="content1" style="background-image: url('/images/backgroundImage.jpg');">

        {{!-- <h1>aqui vai o conteudo da pagina</h1> --}}

      </div>

    <div class="login-container">

      <div id="form">

        <h2>Login to your account</h2>

          <form action="/profile-page" method="POST">

            <label> 
              <input type="email" name="email" placeholder="Email Adress" />
            </label>

            <label>
              <input type="password" name="password" placeholder="Password" />
            </label>

            <a href="/profile-page" class="button">Login</a>

            {{#if errorMessage}}
              <p class="error">{{errorMessage}}</p>
            {{/if}}

            <p>Don't have an account?
            <a href="/signup" class="button">Create now</a></p>

          </form>

        </div>

      </div>

    </div>

    <script src="script.js"></script>

  </body>

</html>