<h1>{{appTitle}} 🚀</h1>
<p>JobQuest</p>
<a
  href="/login"
  style="display: inline-block; padding: 20px 40px; font-size: 24px; background-color: #fca311; color: #ffffff; border-radius: 5px; text-decoration: none;"
>JobQuest Log In</a>

<a
  href="/signup"
  style="display: inline-block; padding: 20px 40px; font-size: 24px; background-color: #fca311; color: #ffffff; border-radius: 5px; text-decoration: none;"
>JobQuest Sign Up</a>