<!DOCTYPE html>
<html>
<head>
  <title>Job Application</title>
  <link rel="stylesheet" href="/stylesheets/layout.css" />
  <link rel="stylesheet" href="/stylesheets/job-applications.css" />
</head>
<body>

<div class="container">
  <div class="form-container">
    <h1>Create your job application</h1>

    <form id="edit-form" action="/jobs/create" method="POST" enctype="multipart/form-data">


      <div class="container mt-4">
        <label>
          <input type="text" name="companyName" placeholder="Company Name" class="input-field" />
        </label>
      </div>

      <div class="container mt-4">
        <label>
          <input type="text" name="jobTitle" placeholder="Job Title" class="input-field" />
        </label>
      </div>

      <div class="container mt-4">
        <label>
          <input type="date" name="dateApplied" placeholder="Date Applied" class="input-field" />
        </label>
      </div>

      <div class="container mt-4">
        <label>
          <input type="text" name="jobCountry" placeholder="Job Country" class="input-field" />
        </label>
      </div>

      <div class="container mt-4">
        <label>
          <input type="text" name="jobCity" placeholder="Job City" class="input-field" />
        </label>
      </div>

      <div class="container mt-4">
        <label>
          <input type="text" name="jobApplicationLink" placeholder="Link" class="input-field" />
        </label>
      </div>

      <div class="container mt-4">
        <label>
          <select name="status" class="input-field">
            <option value="">Select</option>
            <option value="First Contact">First Contact</option>
            <option value="Scheduled Interview">Scheduled Interview</option>
            <option value="On Hold">On Hold</option>
          </select>
        </label>
      </div>

      <div class="container mt-4">
        <label>
          <textarea name="jobApplicationDescription" placeholder="Description & comments" class="input-field" rows="4"></textarea>
        </label>
      </div>

      <div class="container mt-4">
      <div class="form-group">
        <label><p>Upload CV:</p>
          <input type="file" name="jobFiles" class="form-control-file" />
        </label>
        <label><p>Upload Cover Letter:</p>
          <input type="file" name="jobFiles2" class="form-control-file" />
        </label>
      </div>
      <button id="saveButton" type="submit" class="submit-btn">Save</button>
      </div>

      

      {{! error message will be added here }}
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>

</body>
</html>
