<!DOCTYPE html>
<html>
<head>
  <title>Job Application </title>

</head>
<body>
  <header>
    
    
  </header>
<form action=" " method="post" enctype="multipart/form-data">
  
<div id="field-container">
  <div class="container mt-4">
    <h2>Company Name</h2>
    <input type = "text" id="companyName" name = "companyName" class="form-control" />
  </div>

  <div class="container mt-4">
    <h2>Job Title</h2>
    <input type = "text" id="jobTitle" name = "jobTitle" class="form-control" />
  </div>

  <div class="container mt-4">
    <h2>Date Applied</h2>
    <input type = "date" id = "dateApplied" name = "dateApplied" class="form-control" />
  </div>

  <div class="container mt-4">
      <h2>Job Country</h2>
      <input type = "text" id="jobCountry" name = "jobCountry" class="form-control" />
  </div>

  <div class="container mt-4">
      <h2>Job City</h2>
      <input type = "text" id="jobCity" name = "jobCity" class="form-control" />
  </div>

    <div class="container mt-4">
      <h2>Link</h2>
      <input type = "text" id="jobApplicationLink" name = "jobApplicationLink" class="form-control" />
  </div>

  <div class="container mt-4">
  <h2>Status</h2>
  <select id="status" name="status" class="form-control">
    <option value="">Selecione</option>
    <option value="First Contact">First Contact</option>
    <option value="Scheduled Interview">Scheduled Interview</option>
    <option value="On Hold">On Hold</option>
  </select>
</div>

  <div class="container mt-4">
    <h2>Description & comments</h2>
    <textarea id="jobApplicationDescription" class="form-control" name= "jobApplicationDescription" rows="4"></textarea>
  </div>


</div>
  <div class="form-group">
    <label>Upload:
      <input type="file" name="jobFiles" class="form-control-file" />
    </label>
  </div>

  <button id="saveButton" class="btn btn-primary mt-2">Save</button>
</form>
</body>