<!DOCTYPE html>
<html>
<head>
  <title>Job Application </title>

</head>
<body>
  <header>
    
    
  </header>
<form action=" " method="post" enctype="multipart/form-data">
  
<div id="field-container">
  <div class="container mt-4">
    <h2>Company Name</h2>
    <input type = "text" id="companyName" name = "companyName" class="form-control" />
  </div>

  <div class="container mt-4">
    <h2>Job Title</h2>
    <input type = "text" id="jobTitle" name = "jobTitle" class="form-control" />
  </div>

  <div class="container mt-4">
    <h2>Date Applied</h2>
    <input type = "date" name = "date" class="form-control" />
  </div>

  <div class="container mt-4">
      <h2>Job Country</h2>
      <input type = "text" id="country" name = "jobCountry" class="form-control" />
  </div>

  <div class="container mt-4">
      <h2>Job City</h2>
      <input type = "text" id="location" name = "jobCity" class="form-control" />
  </div>

  <div class="container mt-4">
    <h2>Description & comments</h2>
    <textarea id="description" class="form-control" name= "jobApplicationDescription" rows="4"></textarea>
  </div>


</div>
  <div class="form-group">
    <label>Upload:
      <input type="file" name="jobFiles" class="form-control-file" />
    </label>
  </div>

  <button id="saveButton" class="btn btn-primary mt-2">Save</button>
</form>
</body>