<!DOCTYPE html>
<html>
<head>
    <title>Job View</title>
    <link rel="stylesheet" href="/public/stylesheets/jobview.css">
    <link rel="stylesheet" href="/public/stylesheets/layout.css"/>
</head>
<body>
    <div class="container">
        <div class="column1">
            <div class="content">
                <h1 class="job-title">Company Name: {{CompanyName}}</h1>
                <h2 class="position">Job Title: {{JobTitle}}</h2>
            </div>
        </div>

        <div class="column2"> 
            <div class="content">
                <p class="description">Date Applied: {{DateApplied}}</p>
                <p class="description">Location: {{Location}}</p>
            </div>
        </div>

        <div class="column3">
            <div class="content">
                <p class="files">Comments: {{Comments}}</p>
                <p class="notes">Files: {{Files}}</p>
            </div>
        </div>
        <a href="/job-application" class="button">edit application</a>
    </div>
</body>
</html>

