<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/layout.css"/>
   </head>

   <body>
      <nav>
         <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Jobs</a></li>
         </ul>
      </nav>

      {{{body}}}

      <footer>
         <div class="footer-column">
            <h3>Contact</h3>
            <p>Address: 123 Main Street, City</p>
            <p>Phone: 555-1234</p>
         </div>
         
         <div class="footer-column">
            <h3>Social Media</h3>
            <ul class="social-media">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
         </ul>
         </div>
         
         <div class="footer-column">
         <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.0261429609322!2d13.450637512318865!3d52.53296117194803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851c9c5b09a99%3A0xb0cf5b7bf125aace!2sIronhack%20Berlin!5e0!3m2!1spt-PT!2sde!4v1688396114107!5m2!1spt-PT!2sde" width="300" height="150" style="border: 1px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
         </div>
      </footer>

      <script src="/js/script.js"></script>
   </body>

</html>
