<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/signup.css"
    />
    <link rel="stylesheet" href="/stylesheets/layout.css" />
  </head>
  <body>
    <div class="container">
      <h2>Signup</h2>
      <div class="signup-container">
        <div id="form">
          <form action="/signup" method="POST">
            <label>
              Username
              <input type="text" name="username" placeholder="Username" />
            </label>

             <label>
              Name
              <input type="text" name="username" placeholder="Name" />
            </label>

              <label>
              Last Name
              <input type="text" name="username" placeholder="Last Name" />
            </label>

            <label>
              Email
              <input type="email" name="email" placeholder="Email Address" />
            </label>

            <label>
              Password
              <input type="password" name="password" placeholder="********" />
            </label>
          
            <button class = "button">Create account</button>

            <!-- error message will be added here -->
            {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
          {{/if}}

          </form>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
