body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: #F7F9FF;
    margin: 0;
    padding: 20px;
    padding-bottom: 50%;
  }
  #mainContent {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    column-count: 2;
    column-gap: 20px;
    padding: auto;
  }
  #members {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
  }
  #members img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

  }
  h1 {
    font-size: 24px;
    font-family: "Roboto", Arial, sans-serif;
    margin-bottom: 10px;
    color: #150000;
    font-weight: bold;
  }


