/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #F7F9FF;
  padding: 0;
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  padding-bottom: 50px; /* Set a padding at the bottom equal to the height of the footer */
}

a {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  color: #000000;
}

li {
  list-style: none;
}

h1 {
  font-size: 24px;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 10px;
  color: #150000;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 8px;
  color: #080707;
}

p {
  margin-bottom: 10px;
  font-family: "Roboto", Arial, sans-serif;
}

/*-------------- NAVBAR --------------*/
nav {
  display: flex;
  align-items: center;
  background-color: #211D58;
  justify-content: space-between;
  padding: 15px;
  color: #F7F9FF;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo img {
  width: 150px; /* Set the desired width of the logo image */
  height: auto; /* Automatically adjust the height to maintain aspect ratio */
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #2150EA;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* RESPONSIVE MOBILE MENU */
/* CHECKBOX HACK */
input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #211D58;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #2150EA;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #2150EA;
  }
}

/* FOOTER */
.footer {
  background-color: #13103f;
  color: #FBF5F5;
  padding: 2rem 0;
}

.footer .heading {
  color: #fefefe;
  max-width: 1010px;
  width: 90%;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.footer .content {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem;
}

.footer .content p {
  margin-bottom: 1.3rem;
}

.footer .content a {
  text-decoration: none;
  color: #fefefe;
}

.footer .content a:hover {
  border-bottom: 1px solid #2150EA;
}

.footer .content h4 {
  margin-bottom: 1.3rem;
  font-size: 19px;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

footer hr {
  margin: 2rem 0;
}

@media (max-width: 767px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }

  .footer {
    position: unset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer .content,
  .footer {
    font-size: 14px;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .footer {
    position: unset;
  }
}

hr {
  border: none;
  height: 0.5px;
  background-color: #FFF;
  margin: 1rem 0;
}

/* ------------- BUTTONS--------------- */

.button{
  display: inline-block;
  padding: 10px 30px; /* Increase the padding to make the button larger */
  background-color: #2150ea;
  color: #fff;
  text-decoration: none;
  border-radius: 30px; /* Increase the border-radius to make it more oval-shaped */
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #2347bcb3;
}
p a.button {
  display: inline-block;
  padding: 0;
  background: none;
  color: #2150ea;
  text-decoration: none;
  transition: color 0.3s ease;
}

p a.button:hover {
  color: #ffffff;
}
