<!DOCTYPE html>
<html>
<head>
  <title>Job Application </title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button id="homeButton" class="btn btn-light">Home</button>
        <div class="navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            </li>
          </ul>
          <button id="logoutButton" class="btn btn-light">Logout</button>
        </div>
      </div>
    </nav>


  </header>
<form action=" " method="post" enctype="multipart/form-data">
  
<div id="field-container">
  <div class="container mt-4">
    <h2>Company Name</h2>
    <textarea id="fileContent" class="form-control" rows="4"></textarea>
    
  </div>

  <div class="container mt-4">
    <h2>Job Title</h2>
    <textarea id="fileContent" class="form-control" rows="4"></textarea>
    </div>

    <div class="container mt-4">
        <h2>Date Applied</h2>
        <textarea id="fileContent" class="form-control" rows="4"></textarea>
        </div>

        <div class="container mt-4">
            <h2>Location</h2>
            <textarea id="fileContent" class="form-control" rows="4"></textarea>
            </div>

  <div class="container mt-4">
    <h2>comments</h2>
    <textarea id="fileContent" class="form-control" rows="4"></textarea>
    </div>

</div>

  <div class="form-group">
    <label>Upload:
      <input type="file" name="" class="form-control-file" />
    </label>
  </div>

  <button id="saveButton" class="btn btn-primary mt-2">Save</button>
</form>
</body>